/* Base styling */
body {
  margin: 0;
  font-family: 'VT323', monospace;
  height: 3000px;;
  background-color: #111111; /* Faint black */
  color: rgb(53, 169, 53);
}

/* Full-width hero section */
.hero {
  width: 100%;
  height: 300px;
  background-color: black; 
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  box-sizing: border-box;
}

/* Content inside hero */
.hero-content {
  display: flex;
  align-items: center;
  max-width: 1150px;
  width: 100%;
  gap: 2rem;
}

/* Circular image */
.hero-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: gray; /* Placeholder if image not loaded */
  background-image: url('./assets/dp.jpeg'); /* Replace with actual image path */
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

/* Text content */
.hero-text {
  margin-top: -10px;
  text-align:left;
 
}
/*for typing effect*/
.typewriter {
  font-family:'VT323', monospace;
  white-space: pre-line;
  font-size: 1.1rem;
  line-height: 1.6;
  color: rgb(53, 169, 53);
  max-width: 900px;
  margin-top: 2rem;
}

.cursor {
  display: inline-block;
  width: 1ch;
  margin-left: 2px;
  animation: blink 1s steps(1) infinite;
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}




h1 {
  font-size: 3.2em;
  margin: 0;
}

p {
  margin-top: 3rem;
  font-size: 1.2rem;
}




/* Mini projects section */
.minip-section {
  padding: 2rem 2rem;
  color: rgb(53, 169, 53);
}

.mini-title {
  font-family: 'VT323', monospace;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}